.image_div {
    height: 150px;
    width: 150px;
    /* border:1px solid green; */
}

.blog_title {
    font-size: 20px;
}

a {
    color: rgba(41, 41, 41, 1) !important;
}
.blog_time{
    font-size:14px;
}
.blog_excerpt{
    font-size:16px;
}