.back {
  padding-left: 32px !important;
  /* border: 1px solid red; */
}
.article-container {
  margin-right: 15px;
  margin-left: 15px;
  /* border: 1px solid red; */
  margin-top: 15px;
}
.article {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.article-img-div {
  width: 250px;
}
.featured {
  height: 200px;
  width: 255px;
}
.article-info {
  flex: 0.9;
  /* border: 1px solid blue; */
  margin-left: 20px;
}
h3 {
  font-size: 22px;
  margin-top: 5px;
}
a {
  color: rgba(41, 41, 41, 1);
  font-family: "Yantramanav";
}
.article-posted-time {
  font-size: 13px;
  color: lightslategray;
}
.excerpt {
  font-size: 15px;
}
