/* .row {
  border-bottom: 1px solid lightgray;
}
.image_div {
  height: 150px;
  width: 150px;
}

.blog_title {
  font-size: 20px;
}

a {
  color: rgba(41, 41, 41, 1) !important;
}

.blog_time {
  font-size: 14px;
}

.blog_excerpt {
  font-size: 16px;
}
.image {
  height: 200px;
  width: 250px;
}

@media only screen and (max-width: 600px) {
  .image_div {
    height: 100px;
    width: 100px;
  }

  .blog_title {
    font-size: 16px;
    position: absolute;
    right: 30px;
    top: -100px;
    width: 50%;
  }

  .blog_time {
    position: absolute;
    right: 100px;
    top: -20px;
  }

  .blog_excerpt {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .image_div {
    height: 150px;
    width: 150px;
  }

  .blog_title {
    font-size: 21px;
    position: absolute;
    right: 0px;
    top: -140px;
    width: 70%;
  }

  .blog_time {
    position: absolute;
    right: 350px;
    top: -30px;
    font-size: 16px;
  }

  .blog_excerpt {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .image_div {
    height: 200px;
    width: 200px;
  }

  .blog_title {
    font-size: 21px;
    position: absolute;
    right: 0px;
    top: 3px;
    width: 100%;
    left: 100px;
  }

  .blog_time {
    position: absolute;
    right: 400px;
    top: 180px;
    font-size: 16px;
  }

  .blog_excerpt {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .image_div {
    height: 200px;
    width: 200px;
  }

  .blog_title {
    font-size: 21px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    left: 100px;
  }

  .blog_time {
    position: absolute;
    left: 100px;
    top: 180px;
    font-size: 16px;
  }

  .blog_excerpt {
    display: block;
    position: absolute;
    left: 100px;
    top: 50px;
  }
} */
