.back {
  padding-left: 32px !important;
}
.article-container {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
.article {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.article-img-div {
  width: 250px;
}
.featured {
  height: 200px;
  width: 255px;
}
.article-info {
  flex: 0.9;
  margin-left: 20px;
}
h3 {
  font-size: 22px;
  margin-top: 5px;
}
a {
  color: rgba(41, 41, 41, 1);
  font-family: "Yantramanav";
}
.article-posted-time {
  font-size: 13px;
  color: lightslategray;
}
.excerpt {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .article {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
  .featured {
    width: 300px;
  }
  .article-info {
    margin-left: 0px;
  }
  h3 {
    font-size: 19px;
  }
  .excerpt {
    font-size: 14px;
    /* border:1px solid red; */
    /* width: 260px; */
  }
}
