.siteTitle_div{
    width: 20%;
}
.siteTitle {
    font-family:  'Ribeye Marrow';
    font-size: 50px;
    color: white; 
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a{
    text-decoration: none !important;
} 

@media only screen and (max-width:600px){
    .siteTitle_div{
        width: 100%;
    }
}
@media only screen and (min-width:768px){
    .siteTitle_div{
        width: 100%;
    }
}